table.graph-analysis-table {
  border-collapse: collapse;
}
table.graph-analysis-table,
table.graph-analysis-table tr,
table.graph-analysis-table td {
  border: 1px solid var(--background-modifier-border);
}

table.graph-analysis-table td {
  padding: 2px;
}

td.internal-link,
span.internal-link {
  color: var(--text-accent);
  text-decoration-line: none !important;
}

td.internal-link:hover,
span.internal-link:hover {
  color: var(--text-accent-hover, var(--text-accent));
}

tr.analysis-linked td:first-child::before,
span.analysis-linked::before {
  content: '🔗 ';
}
tr.analysis-not-linked,
span.analysis-not-linked {
  /* background-color: yellow; */
}

td.analysis-measure {
  /* display:none */
}
td.analysis-node {
  /* background-color: yellow */
}

select.dropdown.GA-DD {
  line-height: normal;
  padding: 0.2em 1.9em 0.2em 0.4em;
  width: fit-content;
}

button.GA-Refresh-Button {
  /* float: right; */
  margin-left: 5px;
  padding: 3px;
}

body.is-mobile .GA-details,
body.is-mobile .GA-details::before {
  font-size: larger;
}

.GA-highlight-sentence {
  animation: highlightSentence 1.5s 1;
  border-radius: 3px;
}

@keyframes highlightSentence {
  0% {
    background-color: transparent;
  }
  10% {
    background-color: var(--text-highlight-bg);
  }
  80% {
    background-color: var(--text-highlight-bg);
  }
  100% {
    background-color: transparent;
  }
}
